.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0b4f6c;
  color: white;
  filter: drop-shadow(3px 2px 4px #eefba0);
  z-index: 20;
}

svg {
  align-self: center;
}

.navbar h3 {
  margin: 0;
  padding: 0.8rem;
}
